.contactModalHeader.stickey+.tabBarArea .contactTabsInner {
  height: calc(100vh - 126px);
}

.f-column {
  flex-direction: column;
}

.f-1 {
  flex: 1 1 auto;
}

.h-100 {
  height: 100%;
}

.f-justify-between {
  justify-content: space-between;
}

.dependentsListing {
  display: table;
  width: 100%;
  border-spacing: 0;
  overflow-y: auto;
}

.dependentsListing .row {
  display: table-row;
  position: relative;
}

.dependentsListing .row:not(.head):not(.archivedDependent) {
  background-color: #f2f7fc;
}

.dependentsListing .row.head .cell {
  color: #305671;
  font-size: 13px;
  padding: 10px;
  font-weight: 500;
  vertical-align: middle;
}

.dependentsListing .row .cell {
  display: table-cell;
  border-bottom: 5px solid #fff;
  padding: 18px 10px;
  position: relative;
}

.dependentsListing .row:not(.head) .cell:first-child {
  padding-left: 20px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.dependentsListing .row:not(.head) .cell:last-child {
  padding-right: 35px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.dependentsListing .iconCont {
  background: #139fea;
  border-radius: 50%;
  flex: 0 0 28px;
  height: 28px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.dependentsListing .textCont h4 {
  color: #305671;
  margin-bottom: 3px;
}

.dependentsListing .textCont span,
.dependentLast,
.dependentCourse,
.dependentDob {
  font-size: 13px;
  line-height: 20px;
  color: #305671;
}

.dependentsListing .textCont .dependentDoj {
  font-size: 12px;
  line-height: 18px;
  color: #9baebc;
  margin-top: 5px;
}

.mailCont {
  margin-left: 5px;
  text-decoration: underline;
}

.optionDependent {
  position: absolute;
  right: 25px;
  width: 10px;
  display: inline-flex;
  justify-content: center;
}

.archivedDependent:after {
  position: absolute;
  content: "Archived";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  background: rgb(155 174 188 / 90%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  z-index: 1;
  font-weight: normal;
}

.dependentsListing .createNew {
  flex-direction: column;
}

.dependentsListing .createNew p {
  font-size: 14px;
  line-height: 21px;
  color: #9baebc;
  margin-bottom: 27px;
}

.dependentsListing .saveNnewBtn {
  padding-left: 16px;
  padding-right: 14px;
  width: auto;
}

.dependentsListing .saveNnewBtn img {
  margin-left: 10px;
}

.tabBarArea .modalDependent {
  position: fixed;
  background: rgb(48 86 113 / 90%);
}

.w-row {
  margin-inline: -15px;
  display: flex;
  flex-wrap: wrap;
}

.w-row>*[class^="w-"],
.w-row>*[class*=" w-"] {
  padding: 0 15px;
}

.modalDependent .modalForm form {
  overflow: hidden;
}

.modalDependent .radioGroup label:first-child {
  margin-left: 0;
}

.inFormFieldHeader {
  position: relative;
  margin-bottom: 20px;
  margin-top: 20px;
}

.inFormFieldHeader label {
  margin-top: 0;
}

.inFormFieldHeader h5 {
  background: #fff;
  position: relative;
  z-index: 1;
  padding-right: 10px;
  color: #305671;
}

.inFormFieldHeader:after {
  position: absolute;
  content: "";
  height: 1px;
  width: calc(100% - 50px);
  left: 0;
  background: #d3d9de;
  top: 9px;
}

.noteForm {
  padding: 23px;
  text-align: center;
  border-radius: 5px;
}

.checkDNC {
  background: #ffeaeb;
  margin-bottom: 19px;
  margin-top: 45px;
}

.checkDNC label {
  display: block;
  text-align: center;
  cursor: pointer;
  font-size: 13px;
  line-height: 19px;
  color: #305671;
}

.checkDNC input:not(:checked)+span {
  background-color: #fff;
}

.modalDependent .modalbtnHolder {
  padding: 0;
}

.modalDependent input[type="date"i]::-webkit-calendar-picker-indicator {
  background-image: url("../images/calendar.png");
}

.cmnFieldName button {
  font-size: 13px;
  line-height: 19px;
  color: #46c8d3;
}

.modalDependent .modalForm {
  height: 421px;
}

.modalDependent .cmnFormRow,
.modalDependent .cmnFormField {
  position: relative;
}

.contactListItems {
  position: absolute;
  top: 40px;
  width: 100%;
  z-index: 2;
  background: #f6f8fa;
  border: 1px solid #d3d9de;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 196px;
  display: flex;
  flex-direction: column;
}

.cmnFormField.listActive .cmnFieldStyle {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
}

.contactListItems ul {
  flex: 1 1 auto;
  overflow: auto;
}

.contactListItems .btn {
  background: #ffffff;
  flex: 0 0 44px;
  color: #55bbc9;
  font-size: 13px;
  line-height: 19px;
}

.contactListItems li {
  font-size: 13px;
  line-height: 19px;
  color: #305671;
  padding: 0 10px;
  cursor: pointer;
}

.contactListItems li:hover {
  color: #f1a668;
}

.contactListItems li+li {
  margin-top: 12px;
}

.contactListItems ul::-webkit-scrollbar,
.userListBody.smsListing .listBody::-webkit-scrollbar,
.bodyEditTemplate .keywordBox .keywordList::-webkit-scrollbar {
  width: 4px;
}

.contactListItems ul::-webkit-scrollbar-track,
.userListBody.smsListing .listBody::-webkit-scrollbar-track,
.bodyEditTemplate .keywordBox .keywordList::-webkit-scrollbar-track {
  background-color: #dce4eb;
}

.contactListItems ul::-webkit-scrollbar-thumb,
.userListBody.smsListing .listBody::-webkit-scrollbar-thumb,
.bodyEditTemplate .keywordBox .keywordList::-webkit-scrollbar-thumb {
  background-color: #f1a668;
}

.cmnFormField.listActive .cmnFieldStyle {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
  background-position: right 15px center;
  background-repeat: no-repeat;
  padding-right: 35px;
}

/* Templates */
.messageDeet {
  width: auto;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.messageTitle {
  width: 315px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.userListBody.smsListing .listBody {
  overflow: auto;
}

.smsListing .listBody {
  flex: 1 1 auto;
  max-width: 1077px;
}

.userListBody.smsListing {
  padding-right: 0;
}

.previewSpaceTemplate {
  flex: 0 0 auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

.templateOuter {
  width: 339px;
  flex: 1 1 723px;
  height: 723px;
  border-radius: 30px;
  overflow: hidden;
  background-color: #fff;
  flex-direction: column;
}

.templateFooter {
  flex: 0 0 95px;
  background-color: #DCE4EB;
  display: flex;
  position: relative;
}

.templateFooter:after {
  position: absolute;
  content: '';
  border-radius: 50%;
  width: 52px;
  height: 52px;
  background-color: #fff;
  top: 26px;
  left: 50%;
  transform: translateX(-50%);
}

.templateBody {
  flex: 1 1 auto;
  overflow: hidden;
}

.messageTitle,
.messageDeet,
.smsListing li div>button,
.emailListing li div>button {
  font-size: 13px;
  line-height: 19px;
  color: #305671;
}

.headspaceTemplate {
  font-size: 13px;
  line-height: 19px;
  color: #305671;
  justify-content: center;
  margin-bottom: 15px;
}

.previewSpaceTemplate figure {
  margin-right: 15px;
  width: 22px;
}

.smsListing li,
.emailListing li {
  cursor: pointer;
  user-select: none;
}

.templateInner {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.bodyEditTemplate {
  flex: 1 1 auto;
    overflow: auto;
    padding: 0 25px 0 43px;
    font-size: 13px;
    line-height: 19px;
    text-align: justify;
    color: #305671;
}
.bodyEditTemplate textarea,
.textView {
  width: 100%;
  height: 100%;
  border: none;
  padding: 0;
  font-size: 13px;
  line-height: 19px;
  text-align: justify;
  color: #305671;
  padding-right: 36px;
}

.templateHeader {
  margin-top: 29px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  padding: 0 25px 0 43px;
  margin-bottom: 30px;
  font-size: 13px;
  line-height: 19px;
  color: #305671;
}
.templateHeader input {
  flex: 1 1 auto;
  border: none;
  padding: 0;
  height: auto;
  min-height: 20px;
  font-size: 13px;
  line-height: 19px;
  color: #305671;
}

.editPageFooter {
  height: 39px;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background: #9BAEBC;
  color: #fff;
  font-size: 13px;
  line-height: 19px;
}

.editPageFooter span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.editPageFooter .btn {
  padding: 0 10px;
  height: 100%;
  display: flex;
  align-items: center;
}

.editPageFooter .btn:last-child {
  margin-left: auto;
}

.editPageFooter .btn:first-child {
  margin-right: auto;
}

.smsListing ul.tableListing {
  border-spacing: 0 4px;
}

.smsListing ul.tableListing li>div {
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
}

.smsListing li.active>div,
.emailListing li.active>div {
  background: #9BAEBC;
  color: #fff;
}

.bodyEditTemplate textarea::-webkit-scrollbar {
  width: 3px;
}

.bodyEditTemplate textarea::-webkit-scrollbar-track {
  background-color: #E9EFF5;
}

.bodyEditTemplate textarea::-webkit-scrollbar-thumb {
  background-color: #305671;
}
.editPageFooter .browseKeywords {
  position: static;
}
.bodyEditTemplate .keywordBox {
  bottom: 0;
  top: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.bodyEditTemplate .keywordBox .searchKeyword {
  order: 2;
  border-bottom: none;
  border-top: 1px solid #d3d9de;
}
.bodyEditTemplate .keywordBox .keywordList {
  max-height: 20vh;
  overflow: auto;
}
.smsTagsTemplate {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
}
.smsTagsTemplate span {
  padding: 0 6px;
  height: 30px;
  font-size: 13px;
  line-height: 19px;
  color: #FFFFFF;
  background: #9BAEBC;
  margin-right: 5px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  margin-bottom: 5px;
  border-radius: 3px;
}
.smsTagsTemplate span:hover {
  background-color: transparent;
  color: #9BAEBC;
}
/* SMS Listing page */

/* Email listing page */
.emailListing {
  padding: 0;
}
.emailListingPage .listBody {
  flex: 1 1 auto;
  max-width: calc(100% - 725px);
}
.emailListingPage .templateOuter {
  width: 690px;
  border-radius: 5px;
  padding: 20px 33px;
}
.emailListing .templateHeader {
  margin: 0;
  padding: 0;
  justify-content: end;
}

/* Text editor */
.emailListing  .tox-tinymce {
  border: none;
}
.tox .tox-statusbar {
  display: none !important;
}
.emailListing .tox-toolbar-overlord .tox-toolbar:last-child {
  position: absolute;
  bottom: 1px;
  left: 1px;
  right: 1px;
  background-image: none;
  display: flex;
  justify-content: space-between;
}
.emailListing .tox-editor-container {
  border: 1px solid #efefef;
}
.emailListing .tox-toolbar-overlord,
.emailListing .tox-toolbar {
  background-color: #fafafa !important;
}
.emailListing .tox-editor-container .tox-sidebar-wrap {
  padding-bottom: 40px;
}
.messageDeet .messageHeader {
  margin-bottom: 9px;
}
.emailListing li .messageTitle, .emailListing li .messageDeet {
  padding-top: 20px;
  padding-bottom: 20px;
}
.emailListingPage .templateHeader {
  margin-bottom: 15px;
}
.emailListing li.active .messageHeader {
  color: #fff;
}
.btnSave svg {
  width: 20px;
  height: auto;
}
.emailListing .templateBody .btnSave {
  position: absolute;
  bottom: 10px;
  z-index: 2;
  right: 50px;
}
.headerEmail {
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  color: #305671;
  padding-bottom: 12px;
  border: none;
  border-bottom: 1px solid #E9EFF5;
  margin-bottom: 15px;
  height: auto;
  background: transparent;
  border-radius: 0;
}
.emailListingPage .templateBody {
  display: flex;
  flex-direction: column;
}
#formEditor {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}
.modalAddEmail .cmnFormField {
  position: relative;
}
.modalAddEmail .browseKeywords,
.emailListing .cmnFormField .browseKeywords {
  right: 10px;
  top: 10px;
  bottom: auto;
}
.createNewEmailField {
  height: 318px;
}
.tox.tox-silver-sink.tox-tinymce-aux {
  z-index: 999999;
}
.modalAddEmail .keywordList button {
  font-size: 13px;
  padding: 8px 15px;
}
.modalAddEmail .keywordBox {
  width: 250px;
}
.modalAddEmail .searchKeyBox {
  width: 210px;
}
.editorEmailShell {
  width: 435px;
  height: 318px;
  position: absolute;
  will-change: auto;
  transform-origin: 50% 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  display: flex;
  flex-direction: column;
  transition: all ease-in-out 0.4s;
}
.createEmailButtons {
  position: relative;
}
.createEmailButtons .browseKeywords {
  position: static;
}
.createEmailButtons  {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 6px;
}
.createEmailButtons .inlinle-btn {
  margin-left: 20px;
}
.editorEmailShell.maximize {
  padding: 24px 20px;
  background: #fff;
  z-index: 1;
  display: flex;
  flex-direction: column;
  will-change: auto;
  width: 64vw;
  height: 90vh;
  position: fixed;
}

.editorEmailShell h6 {
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  color: #305671;
  margin-bottom: 10px;
}
.editorEmailShell.maximize .createEmailButtons {
  position: absolute;
  bottom: 35px;
  right: 70px;
  z-index: 1;
}
.createEmailButtons .keywordBox {
  bottom: 100%;
  top: auto;
  margin-bottom: 6px;
  margin-right: 6px;
  transition: all ease-in-out 0.4s;
}
.editorEmailShell.maximize .keywordBox {
  margin-right: 0;
  margin-bottom: 10px;
  right: -45px;
}
.createNewEmailField .popupMessage {
  top: 38px;
}
.btnPadding {
  padding-right: 40px;
}
.emailListing .cmnFormField {
  position: relative;
}
.emailListing .templateBody .cmnFormRow {
  margin: 0;
}
.emailListing .templateBody .keywordList {
  max-height: 28vh;
  overflow: auto;
}
.editBrowseKeywords {
  bottom: 12px;
  z-index: 1;
  right: 89px;
}
.keywordsEditText {
  bottom: 41px;
  top: auto;
  right: 15px;
}
.emailListingPage .popupMessage {
  z-index: 9999999;
  top: 240px;
}
/* Text editor */