.contactModalHeader.stickey+.tabBarArea .contactTabsInner {
  height: calc(100vh - 126px);
}

.f-column {
  flex-direction: column;
}

.f-1 {
  flex: 1 1 auto;
}

.h-100 {
  height: 100%;
}

.f-justify-between {
  justify-content: space-between;
}

.dependentsListing {
  display: table;
  width: 100%;
  border-spacing: 0;
  overflow-y: auto;
}

.dependentsListing .row {
  display: table-row;
  position: relative;
}

.dependentsListing .row:not(.head):not(.archivedDependent) {
  background-color: #f2f7fc;
}

.dependentsListing .row.head .cell {
  color: #305671;
  font-size: 13px;
  padding: 10px;
  font-weight: 500;
  vertical-align: middle;
}

.dependentsListing .row .cell {
  display: table-cell;
  border-bottom: 5px solid #fff;
  padding: 18px 10px;
  position: relative;
}

.dependentsListing .row:not(.head) .cell:first-child {
  padding-left: 20px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.dependentsListing .row:not(.head) .cell:last-child {
  padding-right: 35px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.dependentsListing .iconCont {
  background: #139fea;
  border-radius: 50%;
  flex: 0 0 28px;
  height: 28px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.dependentsListing .textCont h4 {
  color: #305671;
  margin-bottom: 3px;
}

.dependentsListing .textCont span,
.dependentLast,
.dependentCourse,
.dependentDob {
  font-size: 13px;
  line-height: 20px;
  color: #305671;
}

.dependentsListing .textCont .dependentDoj {
  font-size: 12px;
  line-height: 18px;
  color: #9baebc;
  margin-top: 5px;
}

.mailCont {
  margin-left: 5px;
  text-decoration: underline;
}

.optionDependent {
  position: absolute;
  right: 25px;
  width: 10px;
  display: inline-flex;
  justify-content: center;
}
/* .archivedDependent:after {
  position: absolute;
  content: "Archived";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  background: rgb(155 174 188 / 90%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  z-index: 1;
  font-weight: normal;
} */
.dependentsListing .createNew {
  flex-direction: column;
  text-align: center;
}

.dependentsListing .createNew p {
  font-size: 14px;
  line-height: 21px;
  color: #9baebc;
  margin-bottom: 27px;
}

.dependentsListing .saveNnewBtn {
  padding-left: 16px;
  padding-right: 14px;
  width: auto;
  margin-inline: auto;
}

.dependentsListing .saveNnewBtn img {
  margin-left: 10px;
}

.tabBarArea .modalDependent {
  position: fixed;
  background: rgb(48 86 113 / 90%);
}

.w-row {
  margin-inline: -15px;
  display: flex;
  flex-wrap: wrap;
}

.w-row>*[class^="w-"],
.w-row>*[class*=" w-"] {
  padding: 0 15px;
}

.modalDependent .modalForm form {
  overflow: hidden;
}

.modalDependent .radioGroup label:first-child {
  margin-left: 0;
}

.inFormFieldHeader {
  position: relative;
  margin-bottom: 20px;
  margin-top: 20px;
}

.inFormFieldHeader label {
  margin-top: 0;
}

.inFormFieldHeader h5 {
  background: #fff;
  position: relative;
  z-index: 1;
  padding-right: 10px;
  color: #305671;
}

.inFormFieldHeader:after {
  position: absolute;
  content: "";
  height: 1px;
  width: calc(100% - 50px);
  left: 0;
  background: #d3d9de;
  top: 9px;
}

.noteForm {
  padding: 23px;
  text-align: center;
  border-radius: 5px;
}

.checkDNC {
  background: #ffeaeb;
  margin-bottom: 19px;
  margin-top: 45px;
}

.checkDNC label {
  display: block;
  text-align: center;
  cursor: pointer;
  font-size: 13px;
  line-height: 19px;
  color: #305671;
}

.checkDNC input:not(:checked)+span {
  background-color: #fff;
}

.modalDependent .modalbtnHolder {
  padding: 0;
}

.modalDependent input[type="date"i]::-webkit-calendar-picker-indicator, .outstandingOverviewProduct .paymentNow input[type="date"i]::-webkit-calendar-picker-indicator {
  background-image: url("../images/calendar.png");
}

.cmnFieldName button {
  font-size: 13px;
  line-height: 19px;
  color: #46c8d3;
}

.modalDependent .modalForm {
  height: 421px;
}

.modalDependent .cmnFormRow,
.modalDependent .cmnFormField {
  position: relative;
}

.contactListItems {
  position: absolute;
  top: 40px;
  width: 100%;
  z-index: 2;
  background: #f6f8fa;
  border: 1px solid #d3d9de;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 182px;
  display: flex;
  flex-direction: column;
}

.cmnFormField.listActive .cmnFieldStyle {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
}

.contactListItems ul {
  flex: 1 1 auto;
  overflow: auto;
}

.contactListItems .btn {
  background: #ffffff;
  flex: 0 0 44px;
  color: #55bbc9;
  font-size: 13px;
  line-height: 19px;
}

.contactListItems li {
  font-size: 13px;
  line-height: 19px;
  color: #305671;
  padding: 0 10px;
  cursor: pointer;
}

.contactListItems li:hover {
  color: #f1a668;
}

.contactListItems li {
  /* margin-top: 12px; */
  padding: 6px 10px;
}

.contactListItems ul::-webkit-scrollbar,
.userListBody.smsListing .listBody::-webkit-scrollbar,
.bodyEditTemplate .keywordBox .keywordList::-webkit-scrollbar,
.slickModalBody .modalForm::-webkit-scrollbar {
  width: 4px;
}

.contactListItems ul::-webkit-scrollbar-track,
.userListBody.smsListing .listBody::-webkit-scrollbar-track,
.bodyEditTemplate .keywordBox .keywordList::-webkit-scrollbar-track,
.slickModalBody .modalForm::-webkit-scrollbar-track {
  background-color: #dce4eb;
}

.contactListItems ul::-webkit-scrollbar-thumb,
.userListBody.smsListing .listBody::-webkit-scrollbar-thumb,
.bodyEditTemplate .keywordBox .keywordList::-webkit-scrollbar-thumb,
.slickModalBody .modalForm::-webkit-scrollbar-thumb {
  background-color: #f1a668;
}

.cmnFormField.listActive .cmnFieldStyle {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
  background-position: right 15px center;
  background-repeat: no-repeat;
  padding-right: 35px;
}

/* Templates */
.messageDeet {
  width: auto;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.messageTitle {
  width: 315px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.userListBody.smsListing .listBody {
  overflow: auto;
}

.smsListing .listBody {
  flex: 1 1 auto;
  max-width: 1077px;
}

.userListBody.smsListing {
  padding-right: 0;
}

.previewSpaceTemplate {
  flex: 0 0 auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

.templateOuter {
  width: 339px;
  flex: 1 1 723px;
  height: 723px;
  border-radius: 30px;
  overflow: hidden;
  background-color: #fff;
  flex-direction: column;
}

.templateFooter {
  flex: 0 0 95px;
  background-color: #DCE4EB;
  display: flex;
  position: relative;
}

.templateFooter:after {
  position: absolute;
  content: '';
  border-radius: 50%;
  width: 52px;
  height: 52px;
  background-color: #fff;
  top: 26px;
  left: 50%;
  transform: translateX(-50%);
}

.templateBody {
  flex: 1 1 auto;
  overflow: hidden;
}

.messageTitle,
.messageDeet,
.smsListing li div>button,
.emailListing li div>button {
  font-size: 13px;
  line-height: 19px;
  color: #305671;
}

.headspaceTemplate {
  font-size: 13px;
  line-height: 19px;
  color: #305671;
  justify-content: center;
  margin-bottom: 15px;
}

.previewSpaceTemplate figure {
  margin-right: 15px;
  width: 22px;
}

.smsListing li,
.emailListing li {
  cursor: pointer;
  user-select: none;
}

.templateInner {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.bodyEditTemplate {
  flex: 1 1 auto;
    overflow: auto;
    padding: 0 25px 0 43px;
    font-size: 13px;
    line-height: 19px;
    text-align: justify;
    color: #305671;
}
.bodyEditTemplate textarea,
.textView {
  width: 100%;
  height: 100%;
  border: none;
  padding: 0;
  font-size: 13px;
  line-height: 19px;
  text-align: justify;
  color: #305671;
  padding-right: 36px;
}

.templateHeader {
  margin-top: 29px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  padding: 0 25px 0 43px;
  margin-bottom: 30px;
  font-size: 13px;
  line-height: 19px;
  color: #305671;
}
.templateHeader input {
  flex: 1 1 auto;
  border: none;
  padding: 0;
  height: auto;
  min-height: 20px;
  font-size: 13px;
  line-height: 19px;
  color: #305671;
}

.editPageFooter {
  height: 39px;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background: #9BAEBC;
  color: #fff;
  font-size: 13px;
  line-height: 19px;
}

.editPageFooter span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.editPageFooter .btn {
  padding: 0 10px;
  height: 100%;
  display: flex;
  align-items: center;
}

.editPageFooter .btn:last-child {
  margin-left: auto;
}

.editPageFooter .btn:first-child {
  margin-right: auto;
}

.smsListing ul.tableListing {
  border-spacing: 0 4px;
}

.smsListing ul.tableListing li>div {
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
}

.smsListing li.active>div,
.emailListing li.active>div {
  background: #9BAEBC;
  color: #fff;
}

.bodyEditTemplate textarea::-webkit-scrollbar {
  width: 3px;
}

.bodyEditTemplate textarea::-webkit-scrollbar-track {
  background-color: #E9EFF5;
}

.bodyEditTemplate textarea::-webkit-scrollbar-thumb {
  background-color: #305671;
}
.editPageFooter .browseKeywords {
  position: static;
}
.bodyEditTemplate .keywordBox {
  bottom: 0;
  top: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.bodyEditTemplate .keywordBox .searchKeyword {
  order: 2;
  border-bottom: none;
  border-top: 1px solid #d3d9de;
}
.bodyEditTemplate .keywordBox .keywordList {
  max-height: 20vh;
  overflow: auto;
}
.smsTagsTemplate {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
}
.smsTagsTemplate span {
  padding: 0 6px;
  height: 30px;
  font-size: 13px;
  line-height: 19px;
  color: #FFFFFF;
  background: #9BAEBC;
  margin-right: 5px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  margin-bottom: 5px;
  border-radius: 3px;
}
.smsTagsTemplate span:hover {
  background-color: transparent;
  color: #9BAEBC;
}
/* SMS Listing page */

/* Email listing page */
.emailListing {
  padding: 0;
}
.emailListingPage .listBody {
  flex: 1 1 auto;
  max-width: calc(100% - 725px);
}
.emailListingPage .templateOuter {
  width: 690px;
  border-radius: 5px;
  padding: 20px 33px;
}
.emailListing .templateHeader {
  margin: 0;
  padding: 0;
  justify-content: end;
}

/* Text editor */
.emailListing  .tox-tinymce {
  border: none;
}
.tox .tox-statusbar {
  display: none !important;
}
.emailListing .tox-toolbar-overlord .tox-toolbar:last-child {
  position: absolute;
  bottom: 1px;
  left: 1px;
  right: 1px;
  background-image: none;
  display: flex;
  justify-content: space-between;
}
.emailListing .tox-editor-container {
  border: 1px solid #efefef;
}
.emailListing .tox-toolbar-overlord,
.emailListing .tox-toolbar {
  background-color: #fafafa !important;
}
.emailListing .tox-editor-container .tox-sidebar-wrap {
  padding-bottom: 40px;
}
.messageDeet .messageHeader {
  margin-bottom: 9px;
}
.emailListing li .messageTitle, .emailListing li .messageDeet {
  padding-top: 20px;
  padding-bottom: 20px;
}
.emailListingPage .templateHeader {
  margin-bottom: 15px;
}
.emailListing li.active .messageHeader {
  color: #fff;
}
.btnSave svg {
  width: 20px;
  height: auto;
}
.emailListing .templateBody .btnSave {
  position: absolute;
  bottom: 10px;
  z-index: 2;
  right: 50px;
}
.headerEmail {
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  color: #305671;
  padding-bottom: 12px;
  border: none;
  border-bottom: 1px solid #E9EFF5;
  margin-bottom: 15px;
  height: auto;
  background: transparent;
  border-radius: 0;
}
.emailListingPage .templateBody {
  display: flex;
  flex-direction: column;
}
#formEditor {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}
.modalAddEmail .cmnFormField {
  position: relative;
}
.modalAddEmail .browseKeywords,
.emailListing .cmnFormField .browseKeywords {
  right: 10px;
  top: 10px;
  bottom: auto;
}
.createNewEmailField {
  height: 318px;
}
.tox.tox-silver-sink.tox-tinymce-aux {
  z-index: 999999;
}
.modalAddEmail .keywordList button {
  font-size: 13px;
  padding: 8px 15px;
}
.modalAddEmail .keywordBox {
  width: 250px;
}
.modalAddEmail .searchKeyBox {
  width: 210px;
}
.editorEmailShell {
  width: 435px;
  height: 318px;
  position: absolute;
  will-change: auto;
  transform-origin: 50% 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  display: flex;
  flex-direction: column;
  transition: all ease-in-out 0.4s;
  /* border: 1px solid transparent; */
}
.createEmailButtons {
  position: relative;
}
.createEmailButtons .browseKeywords {
  position: static;
}
.createEmailButtons  {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 6px;
}
.createEmailButtons .inlinle-btn {
  margin-left: 20px;
}
.editorEmailShell.maximize {
  padding: 24px 20px;
  background: #fff;
  z-index: 1;
  display: flex;
  flex-direction: column;
  will-change: auto;
  width: 64vw;
  height: 90vh;
  position: fixed;
}

.editorEmailShell h6 {
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  color: #305671;
  margin-bottom: 10px;
}
.editorEmailShell.maximize .createEmailButtons {
  position: absolute;
  bottom: 35px;
  right: 70px;
  z-index: 1;
}
.createEmailButtons .keywordBox {
  bottom: 100%;
  top: auto;
  margin-bottom: 6px;
  margin-right: 6px;
  transition: all ease-in-out 0.4s;
}
.editorEmailShell.maximize .keywordBox {
  margin-right: 0;
  margin-bottom: 10px;
  right: -45px;
}
.createNewEmailField .popupMessage {
  top: 38px;
}
.btnPadding {
  padding-right: 40px;
}
.emailListing .cmnFormField {
  position: relative;
}
.emailListing .templateBody .cmnFormRow {
  margin: 0;
}
.emailListing .templateBody .keywordList {
  max-height: 28vh;
  overflow: auto;
}
.editBrowseKeywords {
  bottom: 12px;
  z-index: 1;
  right: 89px;
}
.keywordsEditText {
  bottom: 41px;
  top: auto;
  right: 15px;
}
.emailListingPage .popupMessage {
  z-index: 9999999;
  top: 330px;
}
.emailListingPage > .popupMessage,
.emailListingPage .templateBody .popupMessage,
.smsListingPage .popupMessage  {
  top: 45px;
}
.popupMessage {
  z-index: 9999999;
}
.modalBackdrop {
  padding-right: 0 !important;
}
.error .editorEmailShell,
#editTextArea.error .tox-tinymce {
  border: 1px solid #ed707a;
  background-color: #fff4f4;
}
/* Text editor */.slickModalHeader .popupMessage p {
  padding: 5px 0 5px 36px;
  font-size: 14px;
  color: #929292;
}
.slickModalHeader .popupMessage {
  position: static;
  transform: none;
}
.slickModalHeader .popupMessage.success {
  background: #e8ffec;
  border: 1px solid #c2e4c8;
}
.slickModalHeader .popupMessage.success p {
  color: #48a357;
  background: url("../images/msg_success_icon.svg") no-repeat left center / 27px
    auto;
}
.slickModalHeader .popupMessage.warning {
  background: #ffe6c8;
  border: 1px solid #dcc5aa;
}
.slickModalHeader .popupMessage.popupMessage.warning p {
  color: #c76007;
  background: url("../images/msg_warning_icon.svg") no-repeat left center / 25px
    auto;
}

.slickModalHeader .popupMessage.error {
  background: #ffe8e8;
  border: 1px solid #f7c0c0;
}
.slickModalHeader .popupMessage.error p {
  color: #c55757;
  background: url("../images/msg_error_icon.svg") no-repeat left center / 25px
    auto;
}

.cmnFieldStyle.loading {
  background: url("../images/loading.gif") no-repeat right center;
}

/* Dependent toggle menu */
.dependentsListing .row:not(.head):last-child .dropdownOptions {
  top: auto;
  bottom: 100%;
}
.cmnFormField .crossDependent {
  position: absolute;
  top: 0;
  right: 0;
  width: 41px;
  height: 100%;
}
.modalDependent .cmnFormRow:first-child .cmnFieldStyle {
  padding-right: 45px;
}
.modalDependent .selectCountry:disabled {
  opacity: 0;
}
:disabled {
  opacity: 1;
  filter: none;
}
.modalDependent input[type="date" i]::-webkit-calendar-picker-indicator {
  visibility: visible !important;
}
.dependentsListing {
  border-spacing: 0 5px;
}
.contactModal .innerDrawerMessage {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  max-width: calc(100% - 30px);
}
.cmnFormField .crossDependent:after {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 2px;
  background: var(--darkBlue);
  opacity: 0;
  visibility: hidden;
  transition: all ease-in-out 0.2s;
}
.cmnFormField .crossDependent:hover:after {
  opacity: 1;
  visibility: visible;
}
.cmnFormField .crossDependent:hover img {
  visibility: hidden;
  opacity: 0;
}
.archivedDependent .cell {
  position: static !important;
}
.archivedDependent .archivedMessage {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  background: rgb(155 174 188 / 95%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  z-index: 1;
  font-weight: normal;
}
.buttonsArchived {
  margin-left: 20px;
}
.buttonsArchived .btn {
  background: #fff;
  padding: 0 15px;
  height: 30px;
  margin-left: 10px;
  font-size: 13px;
  color: #305671;
}
.buttonsArchived .btn:hover {
  background: #305671;
  color: #fff;
}
.dndCheckbox {
  display: inline-flex;
  vertical-align: middle;
  height: 30px;
  width: 30px;
  align-items: center;
  position: relative;
}
.dependentsListing .dndCheckbox span {
  line-height: 100%;
  order: 3;
  margin: 0 5px;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dependentsListing .dndCheckbox span img {
  position: relative;
  z-index: 2;
}
.dependentsListing .textCont h4 {
  position: relative;
}
.userDependents {
  margin-bottom: 5px;
  z-index: 2;
  position: relative;
  cursor: pointer;
}
.dependentsListing .textCont h4:hover .dndCheckbox span:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 0;
  border-radius: 50%;
  pointer-events: none;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(0 0 0 15px rgba(0,0,0,0.22));
}
.userDependents img {
  width: 16px;
  height: auto;
  margin-right: 14px;
}
.userDependents span {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #9BAEBC;
  max-width: calc(100% - 30px);
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: text-top;
}
.userDependents span:hover {
  color: #f1a668;
}
/* Dependent toggle menu */
.templateHeader {
  border: 1px solid transparent;
}
.templateHeader.error input,
.bodyEditTemplate.error textarea {
  border: 1px solid #ed707a;
  background-color: #fff4f4;
}

.dependent-name {
  cursor: pointer;
}
/* Transaction */
.productTransaction .transaction_form {
  flex: 1 1 auto;
  max-width: calc(50% - 10px);
  border: 1px solid #E9EFF5;
  display: flex;
  flex-direction: column;
}
.productTransaction .transaction_form {
  background-color: #F6F8FA;
  border-radius: 5px;
}
.productTransaction .cartProduct {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  max-width: calc(50% - 10px);
}
.cartProductInner  {
  background-color: #F6F8FA;
  border: 1px solid #E9EFF5;
  border-radius: 5px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  max-height: 402px;
}
.cartTotal {
  min-height: 54px;
  background: #E8FCFF;
  border: 1px solid #BBF6FF;
  box-sizing: border-box;
  border-radius: 5px;
  margin-top: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px 0 20px;
}
.btnSelect {
  justify-content: start;
  padding: 0 50px 0 14px;
  background-color: #fff;
  background-image: url(../images/arrowDown.svg);
  background-repeat: no-repeat;
  background-position: right 10px center;
}
.btnSelect span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cmnFormSelect {
  position: relative;
  z-index: 1;
}
.cmnFormSelect .btnSelect {
  width: 100%;
}
.cmnFormSelectBody {
  background: #F6F8FA;
  border: 1px solid #D0D6DB;
  box-sizing: border-box;
  box-shadow: 0px 3px 15px rgb(0 0 0 / 16%);
  border-radius: 5px;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
}
.cmnFormSelectBody .addManuallyBtn {
  background: #FFFFFF;
  border-radius: 4px 4px 0px 0px;
  display: flex;
  width: 100%;
  padding: 10px;
  height: 37px;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  color: #55BBC9;
}
.cmnFormSelectBody li {
  cursor: pointer;
  padding: 10px 0;
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid #E9EFF5;
}
.cmnFormSelectBody li figure {
  flex: 0 0 45px;
  height: 45px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-right: 14px;
}
.cmnFormSelectBody li .productItemShorts {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #305671;
  flex: 1 1 auto;
    overflow: hidden;
}
.productItemShorts span,
.productItemShorts strong {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.productItemShorts strong {
  margin-top: 5px;
}
  
.cmnFormSelectBody ul::-webkit-scrollbar {
  width: 4px;
}

.cmnFormSelectBody ul::-webkit-scrollbar-track {
  background-color: transparent;
}

.cmnFormSelectBody ul::-webkit-scrollbar-thumb {
  background-color: #F1A668;
  border-radius: 15px;
}
.cmnFormSelectBody ul {
  padding: 0 15px 0 20px;
  max-height: 250px;
  overflow: auto;
  margin-right: 8px;
  margin-top: 14px;
  margin-bottom: 14px;
}
.transaction_form .colorChoiceProduct .colorChoiceItem {
  padding: 0;
  display: inline-flex;
  align-items: center;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  cursor: pointer;
}
.colorChoiceItem input,
.sizeChoiceItem input {
  display: none;
}
.colorChoiceItem span {
  width: 100%;
  height: 100%;
  background: #9BAEBC;
  border-radius: 50%;
  background-position: center center;
  background-size: auto;
  background-repeat: no-repeat;
}
.productTransaction .createNew {
  flex: 1 1 100%;
  display: flex;
  height: auto;
}
.informHeader {
  flex: 0 0 40px;
  padding: 0 20px;
  border-bottom: 1px solid #E9EFF5;
  display: flex;
  align-items: center;
}
.informHeader h5 {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #305671;
}
.posSellingForm form {
    row-gap: 20px;
    column-gap: 20px;
}
.bodytransactionForm {
  padding: 10px 20px;
  flex: 1 1 auto;
  overflow: auto;
}
/* Transaction */

.colorChoiceItem input:checked + span {
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #305671;
  background-image: url("../images/done_white.svg");
}
.sizeChoiceItem,
.sizeChoiceProduct .sizeChoiceItem {
  display: inline-flex !important;
  width: 24px !important;
  height: 24px !important;
  padding: 0 !important;
  margin-right: 5px;
  cursor: pointer;
}
.sizeChoiceItem span {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #9BAEBC;
  background: #fff;
  border-radius: 5px;
}
.sizeChoiceItem input:checked + span {
  background: #305671;
  color: #fff;
  border-color: #305671;
}
.productTransaction .cmnFieldStyle, 
.productTransaction .selectBox {
  background-color: #fff;
}
.productTransaction .cmnFormField {
  position: relative; 
}
.productTransaction .unitAmount,
.preField .unitAmount {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  color: #9BAEBC;
}
.bodytransactionForm .labelWithInfo {
  float: none;
  display: block;
}
.labelWithInfo .infoSpan {
  margin-left: 10px;
}
.addProductFormField {
  z-index: 2;
}
.preField .cmnFieldStyle {
  padding-left: 35px;
}
input::-webkit-inner-spin-button {
  display: none;
}
.cmnFormRow .footnoteInfo {
  font-size: 10px;
  line-height: 15px;
  color: #9BAEBC;
  vertical-align: middle;
  clear: both;
  display: block;
  padding-top: 4px;
}
.addToCart {
  margin: 0 auto;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  color: #FFFFFF;
}
.informHeader .cartCount {
  margin-left: 8px;
  display: inline-flex;
  align-items: center;
  padding: 0 13px;
  height: 20px;
  border-radius: 30px;
  color: #fff;
  background: #305671;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.02em;
}
.noProduct figcaption {
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
  color: #9BAEBC;
  margin-top: 6px;
}
.bodytransactionForm .cmnFormRow .cmnFormCol:nth-child(1),
.bodytransactionForm .cmnFormRow .cmnFormCol:nth-child(2) {
  width: calc(50% - 5px);
}
.productTransaction .saveNnewBtn {
  width: auto;
  padding: 0 14px 0 20px;
}
.productTransaction .saveNnewBtn img {
  margin-left: 14px;
}
.cartTotal label {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #305671;
}
.cartPrice h4 {
  font-size: 20px;
  line-height: 30px;
  text-align: right;
  color: #305671;
}
.bodytransactionForm .cmnFormRow:first-child .tooltiptextInfo {
  top: 100%;
  bottom: auto;
  margin-top: 10px;
}
.infoSpan .tooltiptextInfo {
  z-index: 3;
}
.bodytransactionForm .cmnFormRow:first-child .tooltiptextInfo::after {
  top: auto;
  bottom: 100%;
  transform: scaleY(-1);
}
.colorChoiceProduct {
  font-size: 0;
}
.cmnFormRow.error .colorChoiceItem {
  box-shadow: 0 0 2px #d95459;
  border-radius: 50%;
  border: 2px solid #fff;
}
.cmnFormRow.error .sizeChoiceItem {
  box-shadow: 0 0 4px #d95459;
  border-radius: 5px;
}
.bodytransaction .cmnFormCol.error .selectBox {
  border-color: #d95459;
}
.cartItem {
  background: #fff;
  position: relative;
  border-radius: 5px;
}
.cartItem + .cartItem {
  margin-top: 5px;
}
.upperCart {
  border-bottom: 1px solid #ccc;
  padding: 10px 18px;
}
.upperCart .productImg {
  flex: 0 0 75px;
  height: 75px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-image: none !important;
}
.choiceOpt header h6 {
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  color: #305671;
}
.choiceOpt {
  margin-left: 10px;
}
.customizedItemDeet {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.customizedItemDeet label {
  font-size: 12px;
  line-height: 14px;
  color: #9BAEBC;
  margin-right: 10px;
}
.customizedItemSize, .colorItem {
  display: inline-flex;
  align-items: center;
}
.colorFig {
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0px 1px 4px rgb(0 0 0 / 25%);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: inline-block;
}
.colorItem {
  margin-right: 25px;
}
.customizedItemSize .sizeItem {
  background: #E2FFEE;
  border: 1px solid #93FFC0;
  box-sizing: border-box;
  border-radius: 3px;
  width: 24px;
  height: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #305671;
}
.cartItem footer {
  padding: 10px 18px;
}
.counterItem .btn {
  width: 24px;
  height: 22px;
  background: #F6F8FA;
  border-radius: 2px;
  vertical-align: middle;
}
.counterItem input,
.counterItem span {
  background: #E8FCFF;
  border: 1px solid #BBF6FF;
  box-sizing: border-box;
  border-radius: 2px;
  width: 26px;
  height: 24px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #305671;
  margin: 0 2px;
  vertical-align: middle;
  padding: 0;
  min-height: 1px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.counterItem .btn {
  width: 24px;
  height: 22px;
  background: #F6F8FA;
  border-radius: 2px;
  vertical-align: middle;
}
.counterItem .btn:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.counterItem.cmnFieldStyle {
  border: none;
  background: transparent;
}
.cmnFormField .counterItem input {
  flex: 1 1 auto;
  height: 100%;
  display: inline-flex;
  padding: 0 15px;
  flex: 0 0 calc(100% - 76px);
  max-width: calc(100% - 90px);
  margin-inline: auto;
}
.cmnFormField .counterItem .btn {
  flex: 0 0 38px;
  height: 100%;
  background-color: #fff;
}
.countPrice {
  font-weight: 500;
  font-size: 12px;
  color: #97AAB8;
  line-height: 1;
}
.cartAmount {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #305671;
  text-align: right;
}


.bodytransactionForm::-webkit-scrollbar {
  width: 4px;
}

.bodytransactionForm::-webkit-scrollbar-track {
  background-color: transparent;
}

.bodytransactionForm::-webkit-scrollbar-thumb {
  background-color: #f1a668;
}
.cartTax {
  background: #ED707A;
  border-radius: 4px;
  font-weight: 900;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-left: 5px;
  height: 18px;
  padding: 0 5px;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
}
.modalProductAdd .modalForm form {
  row-gap: 0;
}
.imageUpload {
  position: relative;
}
.imageUpload input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  cursor: pointer;
}
.visualPicture {
  background: #E9EFF5;
  border: 1px solid #9BAEBC;
  flex: 0 0 63px;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: min(auto, cover);
  border-radius: 50%;
  margin-right: 20px;
}
.uploadImageText {
  font-size: 13px;
  line-height: 19px;
  color: #9BAEBC;
  flex: 1 1 auto;
  padding-right: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.staticUpload {
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  color: #55BBC9;
  margin-left: auto;
  margin-right: 6px;
}
.addNewProductColor {
  position: relative;
}
.addNewProductColor > span {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 23px;
  height: 23px;
  border: 1px solid #55BBC9;
  overflow: hidden;
  border-radius: 50%;
}
.addNewProductColor svg {
  width: 13px;
  height: auto;
}
.modalProductAdd .slickModalHeader h3 {
  color: var(--darkBlue);
  font-size: 20px;
  padding: 30px 0 10px;
  font-weight: 400;
}
.newProdColors {
  position: relative;
}
.newProdColors li {
  display: inline-flex;
  margin-right: 8px;
  margin-bottom: 8px;
  vertical-align: top;
}
.colorOptions:hover .btn {
  display: inline-flex;
}
.colorOptions span {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.colorOptions .btn {
  display: none;
  position: absolute;
  background: #30567e;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  padding: 4px;
  box-shadow: 0 0 0 1px #fff;
  right: 0;
  top: 0;
}
.addNewProductColor .chrome-picker {
  width: 190px !important;
}
.colorOptions {
  width: 24px;
  height: 24px;
  position: relative;
}
.colorPickerIn {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}
.colorPickerIn footer {
  padding: 8px;
}
.colorPickerIn footer .btn {
  font-size: 13px;
  color: var(--darkBlue);
}
.newProdColors label {
  color: #315571;
  font-size: 13px;
  font-weight: 500;
}
.newProdColors .sizeChoiceItem {
  margin: 0;
}
.no-float {
  float: none;
}
.textCheckbox input[type="checkbox"] {
  height: auto;
  margin: auto;
  min-height: 1px;
}

.textCheckbox input + span {
  font-size: 13px;
  line-height: 19px;
  color: #305671;
  margin-left: 10px;
}
.cmnFormRow + .modalbtnHolder {
  margin-bottom: 0;
  padding-top: 0;
}
.choiceOpt header .btn {
  flex: 0 0 11px;
  margin-left: 15px;
}
.cartAmount .cartTax {
  display: flex;
  padding: 0 5px;
  height: 18px;
}

.bodytransaction .cmnFormRow .cmnFormCol:first-child .tooltiptextInfo {
  left: 60px;
}
.bodytransaction .cmnFormRow .cmnFormCol:first-child .tooltiptextInfo::after {
  left: 52px;
}

.paymentTransProduct .chooseTransactionType {
  display: none;
}
.paymentTransProduct .posSellingForm {
  padding: 0;
}
.posSellingForm .gridCol:nth-child(n+1) {
  flex: 1 1 auto;
  max-width: calc(50% - 10px);  
  display: flex;
  flex-direction: column;
}
.productDownPayment,
.productBillingOverview,
.payOverviewProduct,
.outstandingOverviewProduct {
  flex: 0 1 auto;
  max-height: inherit;
}
.informHeader .toggleBtn {
  margin-top: 0;
}
.productDownPayment .newDownpayment {
  margin: 0;
}
.productDownPayment .newDownpayment + .newDownpayment {
  margin-top: 20px;
}
.productDownPayment .bodytransactionForm {
  padding-bottom: 20px;
}
.gap {
  padding-inline: 10px;
}
.cmnFormRow.gap .cmnFieldStyle {
  background: #F6F8FA;
  border: 1px solid #E9EFF5;
  box-sizing: border-box;
  border-radius: 5px;
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  color: #305671;
}
.productPaymentTransaction .gridCol:first-child,
.productPaymentTransaction .gridCol:last-child {
  flex: 0 1 365px;
}
.productDownPayment .informHeader, .productDownPayment .bodytransactionForm {
  padding-left: 18px;
  padding-right: 18px;
}
.productDownPayment .forDownpayment .leftSecTransaction {
  width: 114px;
  padding: 0;
}
.productDownPayment .rightSecTransaction {
  width: 170px;
  padding: 0;
}
.productDownPayment label .labelHeading {
  font-weight: normal;
  letter-spacing: -0.03em;
  font-size: 12px;
}
.forDownpayment .toggleBtn {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0;
  margin-left: auto;
}
.productDownPayment .labelWithInfo {
  display: inline-flex;
  line-height: 20px;
  padding-bottom: 8px;
}
.productDownPayment .labelWithInfo .infoSpan {
  margin-left: 4px;
}
.productPaymentTransaction select.selectBox {
  border-color: #E9EFF5;
}
.productPaymentTransaction .paymentNow.display p{
  background-color: #fff;
}
.productDownPayment .paymentNow {
  display: block;
}
.addPaymentInfo {
  color: #55BBC9;
  font-weight: 400;
  font-size: 12px;
  cursor: pointer;
  padding: 2px 8px;
  background-color: transparent;
}
.addPaymentInfo:hover {
  background: #55bbc9;
  color: #fff;
  border-radius: 5px;
  filter: saturate(1);
}
.newDownpayment .cmnFormRow + .cmnFormRow {
  margin-top: 12px;
}
.newDownpayment .cmnFormRow {
  margin-bottom: 0;
}
.productDownPayment .bodytransactionForm {
  max-height: 334px;
}
.gridCol .cartProductInner + .cartProductInner {
  margin-top: 20px;
  flex: 0 0 auto;
}
.productPaymentTransaction .chooseTransactionType {
  display: block;
}
.paymentType {
  cursor: pointer;
}
.productPaymentTransaction .chooseTransactionType + .paymentTypes {
  margin-top: 20px;
}
.outstandingOverviewProduct {
  background: #FFF5E2;
  border-color: #FFECC7;
}
.outstandingOverviewProduct .informHeader,
.outstandingOverviewProduct .bodytransactionForm,
.outstandingOverviewProduct ul.programInfosUl.paymentOverviews {
  border-color: #FFECC7;
}
.outstandingOverviewProduct .labelWithInfo,
.outStandingProduct .labelWithInfo {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #305671;
  margin-bottom: 8px;
}
.outstandingOverviewProduct select.selectBox,
.outStandingProduct select.selectBox  {
  background-color: #fff;
  border-color: #fff;
  font-size: 12px;
  letter-spacing: 0.05em;
}
.outstandingOverviewProduct .cmnFormRow .cmnFormCol:first-child,
.outStandingProduct .cmnFormRow .cmnFormCol:first-child  {
  width: 149px;
}
.outstandingOverviewProduct .cmnFormRow .cmnFormCol:last-child,
.outStandingProduct .cmnFormRow .cmnFormCol:last-child  {
  width: 170px;
}
.outstandingOverviewProduct .bodytransactionForm, 
.outstandingOverviewProduct .informHeader,
.outStandingProduct .bodytransactionForm,
.outStandingProduct .informHeader  {
  padding-left: 18px;
  padding-right: 18px;
}
.outstandingOverviewProduct .paymentTime .toggleBtn,
.outStandingProduct .paymentTime .toggleBtn {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0;
}
.outstandingOverviewProduct .paymentTime,
.outStandingProduct .paymentTime {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.outstandingOverviewProduct .paymentNow.display p,
.outStandingProduct .paymentNow.display p  {
  border-color: #fff;
}
.outstandingOverviewProduct .paymentNow,
.outStandingProduct .paymentNow {
  display: block;
}
.outstandingOverviewProduct .paymentNow input,
.outStandingProduct  .paymentNow input {
  background-color: #fff;
  border-color: #fff;
  font-size: 12px;
  letter-spacing: 0.05em;
}
.currentPaymentOverview .customCheckbox span {
  background: #fff;
}
.totalCartValue.cartProductInner {
  flex-direction: revert;
  flex: 0 0 auto;
}
.currentPaymentOverview.cartProductInner .outstandingDownpayment {
  border: none;
}
.paymentType.active {
  border-color: #6AAAD9 !important;
  box-sizing: border-box;
  box-shadow: 0px 4px 15px rgb(48 86 113 / 10%);
}
.slickModalBody.paymentFailed .payModalDetails p {
  margin-right: 0;
}

.paymentFailed {
  padding: 40px 56px;
}
.modalNewPay .posSellingForm {
  padding: 30px;
}
.modalNewPay .formBodyNew label {
  color: #315571;
  font-size: 13px;
  padding-bottom: 12px;
  width: 100%;
  font-weight: 500;
  display: block;
}
.modalNewPay .cmnFormField .cmnFieldStyle{
  background-color: #fff;
}
.modalForm .formBodyNew {
  grid-column-gap: 0;
  grid-row-gap: 0;
  grid-column-gap: 0;
  column-gap: 0;
}
.modalNewPay .modalbtnHolder {
  padding: 0;
  text-align: center;
  width: 100%;
}
.modalNewPay .modalbtnHolder button {
  margin: 0 auto;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  color: #FFFFFF;
}
.toggleBtn {
  width: 40px !important;
}

/* UI fixes */
.chooseTransactionType label {
  display: inline-flex;
  align-items: center;
  line-height: 17px;
}
.chooseTransactionType .circleRadio {
  position: static;
}

.tabBarArea .contactTabsInner {
  padding-top: 25px;
}
.chooseTransactionType {
  padding-top: 18px;
  padding-bottom: 18px;
}
.posSellingForm {
  padding-top: 88px;
}
.delNewDownpayment img {
  vertical-align: -3px;
}
#editTextArea .errorMsg {
  position: absolute;
  bottom: 12px;
  z-index: 1;
  left: 85px;
}
.templateBody .cmnFormField.error input {
  margin: 0;
}
.emailListing .cmnFormField.error {
  margin-bottom: 15px;
}
.smsListing .templateHeader.error {
  flex-wrap: wrap;
}
.bodyEditTemplate.error {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.bodyEditTemplate.error textarea {
  flex: 1 1 auto;
}
.dataTableCell .extraDottedBtn ~ .btn {
  vertical-align: middle;
}
/* UI fixes */

/* Billing fixes */
.twoBillingCardContainer .billing_module {
  align-self: flex-end;
}
.contactTabsInner.loading {
  overflow: hidden;
}
.twoBillingCardContainer .importCPaymentError {
  background: #f54e4e26;
  border-color: #f16565;
  color: #f34d4d;
}
.twoBillingCardContainer .popupMessage {
  position: static;
  flex: 1 1 100%;
  transform: none;
  margin-bottom: 15px;
}
.twoBillingCardContainer .addInList {
  min-height: 474px;
}
/* Billing fixes */

/* Add a product */
.imageUpload .profileUpload {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  cursor: pointer;
  height: auto;
  width: auto;
}
.formControl .profile .profileText {
  color: #9baebc;
  font-size: 13px;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 0 15px 0 0;
  align-items: center;
  margin: 0;
}
.formControl .profile.imageUpload {
  padding: 0;
  width: 100%;
}
.profile.imageUpload .visualPicture {
  background: #E9EFF5;
  border: 1px solid #9BAEBC;
  flex: 0 0 63px;
  width: 63px;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: min(auto, cover);
  border-radius: 50%;
  margin-right: 20px;
  position: static;
  overflow: hidden;
}
.modalForm .formControl + .formControl {
  margin-top: 18px;
}
.cmnFormSelectBody .loaderOuter .loaderInner {
  position: static;
  transform: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
}
.cmnFormSelectBody .loaderOuter {
  position: static;
  height: auto;
  background: transparent;
}
.bodytransactionForm .paymentTypes .paymentType + .paymentType {
  margin-top: 15px;
  margin-bottom: 0;
}
.productDownPayment .forDownpayment .cmnFormRow:first-child .tooltiptextInfo {
  left: 70px;
  right: auto;
}
.productDownPayment .forDownpayment .cmnFormRow:first-child .tooltiptextInfo::after {
  left: 43px;
}
.forDownpayment .toggleBtn {
  padding: 0;
}
.forDownpayment .labelWithInfo.paymentTime {
  display: flex;
}
.newDownpayment + .downPaymentsCreated,
.downPaymentsCreated .newDownpayment + .newDownpayment {
  margin-top: 15px;
}
.bodyProductPayModes {
  position: relative;
  min-height: 300px;
  max-height: 340px;
  padding-top: 0;
}
.bodyProductPayModes p.paymentTypes {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: #F6F8FA;
  padding-top: 10px;
  padding-bottom: 10px;
}
.chooseTransactionType.paymentTypes {
  padding-top: 0;
}
.error .cmnFormField, .error .cmnFormField input {
  border-color: #c74854 !important;
  color: #c74854 !important;
}
.error .unitAmount {
  color: #c74854 !important;
}
.outstandingDownpayment .downpaymentsDetails {
  width: 60%;
}
.outstandingDownpayment .downpaymentsPayDetails {
  width: 40%;
  text-align: right;
}
.paymentModuleInfos {
  overflow: hidden;
}
.paymentModuleInfos .accinfod {
  max-width: 100%;
  word-break: break-word;
}

.outStandingProduct {
  flex: 0 0 auto;
}
.outStandingProduct .cmnFormRow {
  margin: 0;
}
.outStandingProduct .bodytransactionForm {
  padding-bottom: 30px;
}
.payOverviewProduct {
  order: 1;
}
.productPaymentTransaction .gridCol .dottedBorder {
  order: 2;
}
.productPaymentTransaction .gridCol .currentPaymentOverview {
  order: 3;
  margin-top: 14px;
  flex: 0 0 auto;
}
.productPaymentTransaction .gridCol .outStandingProduct {
  order: 6;
  margin-top: 5px;
}
.productPaymentTransaction .gridCol .totalCartValue {
  order: 99;
}
.productPaymentTransaction .gridCol .outStandingProduct + .totalCartValue {
  margin-top: 10px;
}
.productPaymentTransaction .gridCol .downPayLater {
  order: 2;
}
.downPayLater .outstandingDownpayment .currentPayment {
  margin-top: 5px;
}
.downpaymentsPayDetails .payDue {
  height: 18px;
  padding: 0 5px;
  display: inline-flex;
  align-items: center;
  background: #F1A768;
  color: #fff;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0.02em;
  border-radius: 3px;
}
.notificationNumber {
  width: auto;
  padding: 0 6px;
}
.paymentNow.error .cmnFieldStyle {
  border: 1px solid #ed707a;
  background-color: #fff4f4;
}
.productPaymentTransaction .errorMsg {
  font-size: 10px;
  line-height: 1.5;
  margin-top: 5px;
}
ul.paymentUlInfo li.paymentModeLi,
ul.paymentUlHeader li.paymentModeHeaderLi {
  /* flex: 0 0 300px; */
  text-align: left;
}
ul.paymentUlHeader li.paymentModeHeaderLi {
  padding-left: 70px;
}
ul.paymentUlInfo li.paymentModeLi {
  padding-left: 50px;
}
.paymentUlHeader .paymentAmtHeaderLi, .paymentUlInfo .paymentAmtLi {
  flex: 0 1 150px;
}
.paymentUlInfo .paymentAmtLi {
  justify-content: flex-end;
}
.paymentUlInfo .paymentAmtLi img {
  margin-left: 12px;
}
.paymentUlInfo .paymentModeLi img {
  margin-right: 14px;
}
.paymentTransProduct .paymentUlInfo {
  margin-bottom: 14px;
}
.paymentUlInfo + .totalPaymentUl {
  width: 100%;
  padding-left: 70px;
  padding-right: 55px;
}
.successPageBtn .saveNnewBtn {
  padding-left: 20px;
  padding-right: 20px;
  width: auto;
}
.successPageBtn .saveNnewBtn img {
  margin-left: 14px;
}
.newDownpayment .addNewDownpayment {
  border-radius: 3px;
}
.formControl .pickColor {
  padding-left: 1px;
}
.error .sizeChoiceItem span {
  box-shadow: 0 0 0 1px #c74854;
}
.downpaymentsDetails .cardImage {
  width: 44px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.preField {
  position: relative;
}
.modalProductAdd .formLeft.preField .cmnFieldStyle {
  margin: 0;
}
.modalProductAdd .formLeft.preField .unitAmount {
  height: 40px;
}
.modalProductAdd .addTaxProduct label {
  padding-top: 8px;
}
.paymentSuccessFullScreen .paymentUlInfo {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
}
.paymentSuccessFullScreen .paymentUlInfo .paymentModeLi {
  padding-left: 0;
}
.outstandingDownpayment .errorMsg {
  clear: both;
  margin: 0;
  padding-top: 8px;
  padding-left: 24px;
}
.paymentSuccessFullScreen .circleForIcon img {
  width: 64px;
  height: 64px;
}
/* .paymentSuccessFullScreen .paymentUlInfo li:nth-child(2) {
  text-align: center;
}
.paymentSuccessFullScreen .paymentUlInfo li,
.paymentSuccessFullScreen .paymentUlHeader li {
  flex: 0 0 33%;
}
.paymentSuccessFullScreen .paymentUlHeader li:last-child {
  text-align: right;
  padding-right: 55px;
} */

.flipCardHolder .cardList {
  flex-direction: column;
}
.flipCardHolder .cardList .body {
  flex: 1 1 auto;
  height: auto;
  max-height: 387px;
}
.productPaymentTransaction .chooseTransactionType .paymentType:first-child {
  margin-bottom: 0;
}

.bodyProductPayModes .paymentTypes {
  display: flex;
  flex-direction: column;
}
/* Add a product */

/* Later additions for Program (Transaction) */
.contactListItems li.active {
  background-color: #e4ecf3;
}
/* Later additions for Program (Transaction) */

/* FIXES */
.showHolidayDateValue {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background: #F0F5F1;
  border-radius: 3px;
}
.showHolidayDateValue h3 {
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  color: #305671;
}
.showHolidayDateValue .show {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #9BAEBC;
}
.showHolidayDateValue .show span {
  color: #009F40;
}
.holiday .half .flatForm {
  display: flex;
  align-items: center;
  max-width: 100%;
}
.holiday .half .flatForm span {
  margin-right: 12px;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #305671;
}
.holiday .half .flatForm input {
  margin-top: 0;
}
.modalForm .formControl:not(.half)+.formControl:not(.half) {
  margin-top: 18px;
}
.showHolidayDateValue {
  margin-top: 20px;
}
.holiday .half label {
  padding-bottom: 0;
}
.gymDetails .profile .profileUpload {
  flex: 0 0 64px;
  margin-right: 20px;
  opacity: 0;
}
.cmnFieldStyle.fieldAlias {
  padding: 3px 10px;
}
.productPaymentTransaction .innerDrawerMessage {
  position: static;
  transform: none;
  width: 100%;
  margin-inline: 0;
  max-width: 100%;
}

/* HOT FIX FOR IFRAME ISSUE */
#root~iframe:last-child {
  display: none !important;
}
/* HOT FIX FOR IFRAME ISSUE */

.authBody .loginRightPart .popupMessage {
  position: static;
  transform: none;
  margin: 0 !important;
  text-align: left;
}
.outstandingDownpayment.error {
  box-shadow: 0 0 0 1px #c74854, 0 0 5px #c74854;
  border-radius: 5px;
  background: rgb(255 202 207 / 10%);
}