.innerMenuScroll {
    overflow: auto;
    flex: 1 1 auto;
}

.innerMenuScroll::-webkit-scrollbar {
    width: 4px;
}

.innerMenuScroll::-webkit-scrollbar-track {
    background-color: #DCE4EB;
}

.innerMenuScroll::-webkit-scrollbar-thumb {
    background-color: #F1A668;
}

.info_3dot_icon .btn {
    width: 22px;
}

.dropdownOptions {
    position: absolute;
    top: 100%;
    right: 0;
    border-radius: 3px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 30px #00000012;
    width: 100px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    z-index: 9;
    overflow: hidden;
}

.dropdownOptions .btn {
    width: 100%;
    color: #9BAEBC;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 13px;
    height: 35px;
    padding: 0 16px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.dropdownOptions .btn:hover {
    color: #305671;
    background-color: #E2E7EB;
}

.dropdownOptions .btn span {
    max-width: 12px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin-right: 9px;
}

.dropdownOptions .btn svg {
    width: 100%;
    max-width: 11.5px;
}

.dropdownOptions .btn:hover svg .a {
    stroke: #305671;
}

.sidebarHeader {
    padding: 26px 0;
    margin: 0 25px;
    position: relative;
    border-bottom: 1px solid #DCE4EB;
}

.menuDetails .sidebarHeader:not(:nth-child(2)) {
    border-top: 1px solid #DCE4EB;
}

.menuDetails ul li:first-child .leftMenuInnerLink {
    border-top: none;
}

.sidebarHeader h4 {
    font-size: 16px;
    line-height: 23px;
    color: #305671;
}

.sidebarHeader .arrowIcon {
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.listArea {
    margin: 0;
}

.listArea .listHead, .listArea .listRow, .listCell {
    float: none;
    color: #305671;
    font-size: 14px;
}

.listCell {
    position: relative;
}

.listArea .listHead, .listArea .listRow {
    display: flex;
    align-items: stretch;
}

.listCell .info_3dot_icon {
    position: relative;
    transform: none;
    top: auto;
    right: auto;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.listCell .red {
    color: #ED707A;
}

.toggleBtn {
    display: block;
    cursor: pointer;
}

.cloneIcon .a {
    fill: #305671;
}

.toggleBtn input[type="checkbox"] {
    margin: 0;
    cursor: pointer;
}

/* Builder */

.dndNodes {
    padding: 0 25px;
    margin: 28px 0;
}

.dndNodes:after {
    clear: both;
    content: '';
    display: table;
}

.triggerTask .a {
    fill: #e5ebff;
}

.dndnode {
    width: 63px;
    height: 63px;
    display: inline-flex;
    float: left;
    align-items: center;
    justify-content: center;
    color: #fff;
    cursor: pointer;
}

.dndnode * {
    pointer-events: none;
    user-select: none;
}

.triggerNodes .dndnode {
    background: #5570C9;
    /*DEFAULT BG COLOR*/
    border-radius: 50%;
}

.filterNodes .dndnode {
    position: relative;
    overflow: hidden;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.filterNodes .dndnode:after {
    background: #305671;
    /*DEFAULT BG COLOR*/
    content: " ";
    height: 100%;
    position: absolute;
    width: 100%;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: -1;
}

.actionNodes .dndnode {
    background: #009DFF;
    /*DEFAULT BG COLOR*/
}

.dndnode svg {
    max-width: 29px;
    max-height: 29px;
}

.filterBuilder .a {
    fill: none;
    stroke: #93afc3;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    stroke-width: 1.5px;
}

.actionNodes .dndnode {
    border-radius: 10px;
}

.triggerAction .a {
    fill: none;
    stroke: #9ad8ff;
    stroke-linejoin: round;
    stroke-width: 1.7px;
}