@media (max-width:1920px) {}

@media (max-width:1800px) {
	.widgetWrapers .widgetContent {
		width: calc(100% - 17.5%);
	}
	.sideMenuOuter.headeruserMenu, .automationModal, .sideMenuOuter, .alertBackscreen, .modalOverlay, .modalBackdrop{
		width: 95.2%;
	}
}

@media (max-width:1700px) {
	.widgetWrapers .widgetContent {
		width: calc(100% - 13.5%);
	}
	.sideMenuOuter.headeruserMenu, .automationModal, .sideMenuOuter, .alertBackscreen, .modalOverlay, .modalBackdrop{
		width: 95%;
	}
}

@media (max-width:1600px) {
	.widgetWrapers .widgetContent {
		width: calc(100% - 9.5%);
	}
	.sideMenuOuter.headeruserMenu, .automationModal, .sideMenuOuter, .alertBackscreen, .modalOverlay, .modalBackdrop{
		width: 93.6%;
	}
	.customtableListing li{display: flex;}
	.setUpPopUp{padding: 35px 35px 35px 70px;}
}
@media (max-width:1400px) {
	.phasesRightSetUpPanel{
		width: 330px;
		padding: 40px 15px;
	}
	.dashInnerUI.notification {
		width: calc(100% - 340px);
	}
	.dashInnerStructure{
		padding: 30px 0 27px 17px;
	}
	.statusNameWraper .thumbImage{
		margin-left: 5px;
	}
	.innerScroll{
		margin-right: 8px;
	}
	.dashInnerUI > *{
		padding-right: 0px;
	}
	.customtableListing.notificationGroupList .listHeading div:nth-child(1), .customtableListing.notificationGroupList li:not(.listHeading) div:nth-child(1){
		flex: 0 0 30%;
	}
	.customtableListing li > div{
		padding: 10px 5px;
	}
	.customtableListing.notificationGroupList .listHeading div:nth-child(5), .customtableListing.notificationGroupList li:not(.listHeading) div:nth-child(5){
		flex: 0 0 5%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.customtableListing.notificationGroupList li .action{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.customtableListing li.listHeading > div{
		padding: 10px 5px;
	}
	.userAddModalForm .modalbtnHolder {
		margin-top: 20px;
	}
}
@media (max-width:1280px) {
	.widgetWrapers .widgetContent {
		width: calc(100% - 5.5%);
	}
	.headerSearch {
		margin-left: 12px;
	}
	
	.dashboardHeader .menuUser {
		width: 105px;
	}
	
	
	.widgetWrapers .widgetContent {
		justify-content: space-between;
		column-gap: 0px;
		row-gap: 10px;
		width: calc(100% - 2.5%);
	}
	
	.dashInnerStructure.dashboardPage .dashInnerUI .mrrWraper .widgetWrapers .widgetContent>div {
		flex-basis: calc((100% - 13px) / 2);
	
	}
	.sideMenuOuter.headeruserMenu, .automationModal, .sideMenuOuter, .alertBackscreen, .modalOverlay, .modalBackdrop{
		width: 92.6%;
	}

	.setUpPopUp {
		padding: 35px 35px 35px 35px;
	}
	.setUpPopUp ul li{
		width: calc(100% / 3);
	}
}

@media (max-width:1100px) {
	.widgetWrapers .widgetContent {
		width: calc(100% - 0%);
	}
	.sideMenuOuter.headeruserMenu, .automationModal, .sideMenuOuter, .alertBackscreen, .modalOverlay, .modalBackdrop{
		width: 92%;
	}
}

@media (max-width:1024px) {
	.headerSearch {
		flex: 1 1 20%;
	}
	.sideMenuOuter.headeruserMenu, .automationModal, .sideMenuOuter, .alertBackscreen, .modalOverlay, .modalBackdrop {
		width: 91.5%;
	}
	.gymDetails{padding-right: 30px;}
	.dashInnerStructure{padding-left: 30px;}
}

@media (max-width:991px) {

	/* header */
	.dashboardHeader .menuUser {
		width: auto;
	}

	.buttonHeaderIcons {
		margin-left: 0px;
	}

	.menuUserDetail {
		display: none;
	}

	.menuUser {
		margin-left: 20px;
	}

	.btnUserMenu {
		padding-left: 0px;
		padding-right: 0px;
	}

	.dashboardHeader {
		position: relative;
		padding-right: 20px;
		justify-content: flex-end;
	}

	.headerSearch.fullSearchBox {
		position: absolute;
		background: #fff;
		z-index: 999;
		height: 100%;
		width: 100%;
		left: 0px;
	}

	.headerSearch.fullSearchBox input[type="search"] {
		padding-right: 40px;
	}

	.headerCallToAction {
		margin: 13px 10px;
	}

	.headerCallToAction .leftList {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	.headerCallToAction .leftListArea {
		width: 130px;
	}

	/* dashboard css */
	.widgetIcon h3 {
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		width: 212px;
	}

	.previousMonth {
		position: relative;
		bottom: 0px;
		margin-top: 5px;
		right: 0px;
	}

	.previousRevenueWraper {
		align-items: flex-start;
	}

	.previousMonth.loss {
		justify-content: center;
	}

	.previousRevenueWraper {
		margin-bottom: 25px;
	}

	.previousRevenueWraper {
		padding: 10px;
	}

	.menuUser i img {
		width: 20px;
		padding-left: 5px;
	}
	.sideMenuOuter.headeruserMenu, .automationModal, .sideMenuOuter, .alertBackscreen, .modalOverlay, .modalBackdrop {
		width: 89.8%;
	}
	.setUpPopUp ul li{
		width: calc(100% / 2);
	}
}

@media (max-width:800px) {
	.headerSearch {
		flex: 1 1 15%;
	}

	.headerCallToAction .rightDetails .phoneDetails a {
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 100px;
		overflow: hidden;
	}

	.headerCallToAction .leftListArea {
		width: 100px;
	}

	.listDropBtn img {
		width: 9px;
	}

	.menuUser i img {
		width: 14px;
	}
	.menuUser i{margin-left: 0px;}
	.sideMenuOuter.headeruserMenu, .automationModal, .sideMenuOuter, .alertBackscreen, .modalOverlay, .modalBackdrop {
		width: 89.2%;
	  }
}

@media (max-width:768px) {
	.widgetIcon h3 {
		width: 162px;
	}
	.sideMenuOuter.headeruserMenu, .automationModal, .sideMenuOuter, .alertBackscreen, .modalOverlay, .modalBackdrop {
		width: 88.5%;
	  }
}

@media (max-width:720px) {

	.dashInnerStructure.dashboardPage .dashInnerUI .mrrWraper .widgetWrapers {
		padding-right: 0px;
	}

}