
.navbar-brand img {
    width: auto;
    height: 40px;
    margin: 10px 20px;
}

.flex-column.nav {
    float: right;
    margin: 10px 0 0 0;
}

.flex-column.nav a {
    color: #fff;
    font-size: 18px;
    display: inline-block;
    padding: 7px 14px;
    border-radius: 5px;
    margin-right: 10px;
    text-decoration: none;
    background: rgba(255, 255, 255, 0);
    transition: all 0.5s ease 0s;
}

.flex-column.nav a:hover {
    background: rgba(255, 255, 255, 0.3);
}

.automationDnD {
    flex-direction: column;
    display: flex;
    height: 100%;
}

.automationDnD aside {
    border-right: 1px solid #eee;
    padding: 15px 10px;
    font-size: 12px;
    background: #1a1c21;
}

.automationDnD aside .description {
    margin-bottom: 10px;
    color: #9c9c9c;
    font-size: 16px;
}

.automationDnD .dndnode {
    height: 100px;
    width: 100px;
    padding: 4px;
    color: #e08229;
    font-size: 14px;
    border: 3px solid #e08229;
    border-radius: 2px;
    margin-bottom: 30px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
}
.dndnode {
    margin-left: 10px;
    position: relative;
}
.nodeNameTooltip {
    position: absolute;
    z-index: 5;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
    min-width: 70px;
    background: #fff;
    border-radius: 7px;
    padding: 6px 10px;
    font-size: 12px;
    color: #305671;
    text-align: center;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.102);
    transition: all 0.3s ease 0s;
    opacity: 0;
    pointer-events: none;
}

.nodeNameTooltip::before {
    content: "";
    position: absolute;
    left: 50%;
    top: -7px;
    transform: translateX(-50%);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
}

.dndnode:hover .nodeNameTooltip {
    bottom: -25px;
    pointer-events: all;
    opacity: 1;
}

.automationDnD .dndnode.input {
    color: #12ace0;
    border-color: #12ace0;
    border-width: 3px;
    width: 110px;
    height: 110px;
    border-radius: 100px;
    margin-left: 25px;
}

.automationDnD .dndnode.output {
    color: #df42c5;
    border-color: #df42c5;
    border-width: 3px;
    width: 105px;
    height: 105px;
    /* width: 85px;
    height: 85px;
    transform: rotate(45deg);
    margin-top: 50px;
    margin-left: 35px; */
    border-radius: 30px;
    display: flex;
    align-items: 'center';
    justify-content: 'center';
}

.automationDnD .reactflow-wrapper {
    flex-grow: 1;
    height: 100%;
}

footer.page-footer {
    background: #393f4b;
    font-size: 16px;
    color: #a7b5cf;
    height: 73px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 20px;
}
.buttonArea {
    top: 90px;
    right: 30px;
    position: absolute;
    z-index: 4;
}
.button {
    background: #1a1c21;
    width: 100px;
    height: 40px;
    font-size: 18px;
    color: #96d853;
    border: 2px solid #96d853;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 400;
    margin-left: 5px;

}
.automationDnD .react-flow {
    background-color: transparent !important;
}

.actionNode {
    height: 100px;
    width: 100px;
    border-radius: 10px;
    background: rgb(0, 157, 255);
    color: rgb(224, 130, 41);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.filterNode {
    width: 100PX;
    height: 100px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.triggerNode {
    height: 100px;
    width: 100px;
    border-radius: 100px;
    background: #5570C9;
    color: #12ace0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.filterNode::after {
    background: #305671;
    content: " ";
    height: 100%;
    position: absolute;
    width: 100%;
    transform: rotate(45deg);
    z-index: -1;
}

.react-flow__handle {
    z-index: 10;
}

.reactflow-wrapper .triggerAction, 
.reactflow-wrapper .triggerTask,
.reactflow-wrapper .filterBuilder {
    width: 44px;
}

.connectable {
    width: 18px;
    height: 18px;
    background: #90a7bb !important;
    border: 5px solid #fff !important;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}
.react-flow__handle-left.connectable {
    left: -9px;
}
.react-flow__handle-right.connectable {
    right: -9px;
}

.connectable::after {
    content: "";
    position: absolute;
    
}

.reserAutoBtn {
    background: #305671;
    border: none;
    outline: none;
    border-radius: 5px;
    width: 100px;
    display: flex;
    height: 40px;
    flex-direction: row;
    color: #fff;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.reserAutoBtn img {
    height: 16px;
    padding-right: 10px;
}

.automationTopLeft {
    position: absolute;
    top: 90px;
    left: 320px;
    z-index: 20;
}
.automationNameArea {
    width: 364px;
    height: 40px;
    background: #fff;
    border: 1px solid #D3D9DE;
    border-radius: 5px;
    box-sizing: border-box;
    color: #9BAEBC;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
}

.automationSetting {
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    cursor: pointer;
    top: 7px;
    left: 10px;
    position: relative;
}

.automationPublish {
    display: inline-block;
    position: relative;
    top: 9px;
    left: 20px;
}
.automationPublishBtn {
    background: linear-gradient(268deg, #F1A768 0%, #ED707A 100%) 0% 0% no-repeat padding-box;
    border: none;
    outline: none;
    border-radius: 5px;
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    font-size: 13px;
    padding: 0 20px;
    color: #fff;
}

.automationPublishBtn img {
    padding-right: 10px;
}

.autoInfo {
    width: 18px;
    height: 18px;
    display: inline-block;
    position: relative;
    top: 0;
    left: 40px;
}

.autoInfo span {
    width: 18px;
    height: 18px;
    background: #9BAEBC;
    color: #fff;
    border-radius: 50%;
    font-size: 12px;
    text-align: center;
    line-height: 19px;
    display: inline-block;
    cursor: pointer;
}

.autoInfoBox {
    position: absolute;
    left: -14px;
    top: 10px;
    width: 300px;
    background: #fffdf2;
    font-size: 12px;
    line-height: 18px;
    color: #768ea0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #D3D9DE;
    opacity: 0;
    transition: all 0.3s ease 0s;
}

.autoInfo:hover .autoInfoBox {
    opacity: 1;
    pointer-events: all;
    top: 32px;
}

.autoInfoBox::before {
    content: "";
    position: absolute;
    left: 15px;
    top: -10px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 10px solid #D3D9DE;
}

.autoInfoBox::after {
    content: "";
    position: absolute;
    z-index: 2;
    left: 15px;
    top: -8px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 10px solid #fffdf2;
}

@media screen and (min-width: 768px) {
    .automationDnD {
        flex-direction: row;
    }
    .automationDnD aside {
        width: 20%;
        max-width: 180px;
    }
}

.bounce {
    outline: 0;
    border-color: red !important;
    animation-name: bounce;
    animation-duration: .5s;
    animation-delay: 0.25s;
}

/* This approximates the ease-in-out-bounce animation from easings.net, which would require a plug-in to use*/
@keyframes bounce {
    0% {
        transform: translateX(0px);
        timing-function: ease-in;
    }
    37% {
        transform: translateX(5px);
        timing-function: ease-out;
    }
    55% {
        transform: translateX(-5px);
        timing-function: ease-in;
    }
    73% {
        transform: translateX(4px);
        timing-function: ease-out;
    }
    82% {
        transform: translateX(-4px);
        timing-function: ease-in;
    }
    91% {
        transform: translateX(2px);
        timing-function: ease-out;
    }
    96% {
        transform: translateX(-2px);
        timing-function: ease-in;
    }
    100% {
        transform: translateX(0px);
        timing-function: ease-in;
    }
}
